<html>
<head>
    <!--    <link href="https://fonts.googleapis.com/css?family=Poppins:400,800" rel="stylesheet">-->
    <!--    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">-->
    <!-- Choices includes -->
    <link href="{{ url_for ('static', filename='css/choises.min.css') }}" rel="stylesheet"/>
    <script src="{{ url_for ('static', filename='js/choises.min.js') }}"></script>
    <!-- End Choices includes -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
</head>
<body>


<div class="s004">
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Skills Hunter</h1>
                <p class="lead text-muted">tell me the Truth and get a salary</p>

                <form action="/result" method="POST">
                    <div class="input-group input-group-lg">
                        <div class="form-control">
                            <select name="city">
                                <option disabled selected value="Россия">City</option>
                                {% for city in cities %}
                                <option value="{{city}}">{{city}}</option>
                                {% endfor %}
                            </select>

                            <select name="experience">
                                <option disabled selected value="noExperience">Experience</option>
                                {% for name,value in experience %}
                                <option value="{{value}}">{{name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <!--                <select class="form-control selectpicker" data-live-search="true" id="skills" multiple name="skills">-->
                        <!--                    {% for skill in skills %}-->
                        <!--                    <option value="{{skill}}">{{skill}}</option>-->
                        <!--                    {% endfor %}-->
                        <!--                </select>-->
                        <!--                <br/><br/>-->
                        <!--                <input id="hidden_skills" name="hidden_skills" type="hidden"/>-->
                        <!--                <input class="btn btn-info" name="submit" type="submit" value="Submit"/>-->
                        <!--                <input class="form-control choices__input" data-choice="active" hidden=""-->
                        <!--                       id="choices-text-remove-button" placeholder="Enter something" tabindex="-1" type="text">-->
                        <input class="form-control" name="skills" placeholder="Your skills" type="text"/>
                        <input class="btn btn-primary w-100 mt-3" id="btn-get" type="submit"></input>

                </form>
            </div>
        </div>
    </section>
    <div>
        {% for vacancy in vacancies %}
        <div class="px-5">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <p class="mb-auto">{{vacancy['emp_name']}}</p>
                    <h3 class="mb-0">{{vacancy['name']}}</h3>
                    <p class="mb-auto">{{vacancy['sal']}}</p>
                    <a class="btn btn-primary" href="{{vacancy['alternate_url']}}" id="guid-link" style="width: 25%;"
                       target="_blank">About</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div> {{ prediction }}</div>
</div>


</body>
</html>
